/* custom icon */
.ui-icon-endcall:after {
    background-image: url("http://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.3/images/icons-png/phone-white.png");
    background-size: 14px 14px;
    transform: rotate(135deg);
}

/* Positive Contents */
.pos-contents{
    background: #11d528 !important;
    color: white !important;
}
/* Negative Contents */
.neg-contents{
    background: #f80e0e !important;
    color: white !important;
}
/* Accent Contents */
.acc-contents{
    background: #FFB11B !important;
    color: white !important;
}
.ui-contents-padding{
    padding:0.5em;
}
.text-center{
    text-align: center;
}

/* index.html style */
/* style of location in header of #nav page*/
div[data-role=header] #location{
    margin: 10px;
    vertical-align: middle;
}

#getinfo,
#getinfo:hover,
#getinfo:active{
    background: none;
    border: 0;
}

/* client.html style */
/* for operator icon */
#opelist{
    text-align: center;
}
#opelist figure {
    display: inline-block;
}
#opelist figure figcaption{
    margin: 5px 0 0 0;
    font-size: large;
    font-weight: bold;
}

.loading {
    overflow:   hidden;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .7 ) url('../img/loading.gif') 50% 10% no-repeat;
}
